/* .main-content {
  background: linear-gradient(to bottom, rgb(49 5 26 / 78%), rgb(8 11 84 / 68%)),
    url(images/bg-pink2.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
} */
html {
  overflow-x: hidden;
}
.hero {
  background: linear-gradient(to bottom, rgb(49 5 26 / 78%), rgb(8 11 84 / 68%)), url(images/bg-pink2.jpg) no-repeat;
  /* background: linear-gradient(to bottom, rgb(8 11 84 / 100%), rgb(8 11 84 / 100%)); */
  background-size: cover;
  transition: 4s;
  position: fixed;
  width: 100%;
  /* background-attachment: fixed; */
  overflow: hidden;
}
.container-flex {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
  color: white;
  z-index: 2;
  perspective: 300px;
}
.container-flex .hero-group {
  margin: 0;
  position: relative;
}
.container-flex h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 300;
  animation: showBanner 1s forwards;
}
.container-flex h1 {
  position: fixed;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  left: 17%;
  /* transform: translateX(-50%); */
  /* margin: auto; */
  color: #a54ac917;
  top: 80px;
  z-index: 1;
  letter-spacing: 26px;
}
.container-flex h2 {
  /* font-family: "Josefin Slab", serif; */
  font-family: "Baloo Da 2", cursive;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
  opacity: 0;
  animation: showBanner 1s 0.2s forwards;
}
.container-flex h3 {
  font-family: "Josefin Slab", serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  opacity: 0;
  animation: showBanner 1s 0.4s forwards;
}
.container-flex .role {
  font-family: "Baloo Da 2", cursive;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.9rem;
}
.portfolio h3 {
  margin-bottom: 4rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  text-shadow: 1px 1px 1px #560db7, 2px 2px 2px white;
  color: rgb(255, 67, 99);
  font-family: bradley;
  text-align: center;
}
.portfolio {
  position: relative;
  z-index: 999;
  background: white;
  /* bottom: 0; */
  top: 260px;
  padding-bottom: 18rem;
  position: relative;
  padding-top: 5rem;
  overflow-x: clip;
}
.portfolio::after {
  content: " ";
  top: -50px;
  left: 0;
  right: 0;
  margin-right: 0;
  position: absolute;
  z-index: 1;
  transform: rotate(180deg);
  background-image: url(images/wavesOpacity.svg);
  background-repeat: no-repeat;
  height: 52px;
  width: 175%;
  opacity: 1;
}
.row2 {
  width: 900px; 
  max-width: 100%; 
  margin: auto;
}
.port-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card {
  margin: auto;
  margin-bottom: 3rem;
  display: block;
  /* padding: 1.5rem; */
  max-width: 90%;
  text-align: center;
  width: 86%;
  height: 290px;
  transition: 0.3s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 8px 0 rgb(7 12 82 / 29%);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 4px solid rgba(255, 255, 255, 0.12);
}
.card:hover {
  box-shadow: 1px 10px 16px rgba(26, 26, 26, 0.171);
  transform: scale(1.01);
}
.card h2 {
  font-family: "Josefin Slab", serif;
  color: white;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  left: 50%;
  background: linear-gradient(45deg, #510ba7, #080a52);
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 2rem;
  transition: 0.3s;
  margin-bottom: 0;
}
.img-group {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}
.img-webpage {
  width: 100%;
  /* position: absolute; */
  top: 0;
  height: 90%;
  left: 0;
  margin: 0 auto;
  z-index: -2;
  opacity: 1;
  transition: 0.3s linear;
}
.overlay {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: left;
  background: #080b52c2;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 8;
  transition: all 0.3s;
}
.overlay-container {
  position: absolute;
  bottom: 2rem;
  width: 80%;
  transition: 0.3s 0.2s;
  perspective: 200;
}
.overlay h2 {
  color: rgb(228, 228, 228) !important;
  background: transparent;
  margin-bottom: 4rem;
  opacity: 0;
  padding: 0 0 0.6rem 0;
  position: absolute;
  font-weight: 900;
  /* width: 70%; */
  left: 50%;
  bottom: -39px;
}
.overlay h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80%;
  left: 300%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #e01d88;
}
.card:hover .overlay h2::after {
  animation: slideIn 0.8s 0.8s forwards;
}
.overlay h4 {
  color: #923dfa;
  font-size: 1rem;
  opacity: 0;
}
.overlay-container div {
  /* color: rgb(201, 201, 201); */
  font-size: 0.7rem;
  font-weight: 300;
  opacity: 0;
}
.badge {
  background: linear-gradient(40deg, #0f0033, #510ba7);
  border: 1px solid #510ba7;
  color: #e0e0e0;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 4px;
  display: inline-block;
  /* margin-top: 12px; */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.63);
}
.badge2 {
  margin-top: 10px;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover .overlay h2 {
  animation: showTitle 1.6s forwards;
  left: 50%;
  /* bottom: 60px; */
}
.card:hover .overlay h4 {
  animation: showBanner 1s 0.2s forwards;
}
.card:hover .overlay-container div {
  animation: showBanner 1s 0.4s forwards;
}
.card:hover .card-title {
  opacity: 0;
}
@keyframes showTitle {
  0% {
    bottom: -38px;
  }
  100% {
    bottom: 90px;
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    left: 300%;
  }
  100% {
    left: 50%;
  }
}
/* .img-group {
  width: 350px;
  max-width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
  text-align: center;
}
.img-laptop {
  max-width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  margin: auto;
}
.img-webpage {
  width: 75%;
  position: absolute;
  top: 7.7%;
  height: 86%;
  left: 12%;
  margin: 0 auto;
  z-index: -2;
  opacity: 0;
  transition: 0.3s linear;
} */
/* .change .img-webpage {
  opacity: 1;
  transition: 1s 4s;
} */
.message {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 2rem;
}
.message input,
textarea {
  margin: 0.4rem;
  padding: 0.6rem;
  border: 1px solid rgb(240, 204, 240);
  outline: none;
}
.message button {
  width: 100px;
  margin: 0.4rem;
  border: none;
  border-radius: 4px;
  padding: 0.7rem;
  text-align: center;
  background: rgb(255, 67, 99);
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s linear;
  position: relative;
  outline: none;
}
.message button:hover {
  box-shadow: 0px 0px 8px rgb(255, 67, 99);
}
.message button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    -120deg,
    transparent,
    rgb(255, 162, 178),
    transparent
  );
  transform: translateX(-100%);
  top: 0;
  left: 0;
  transition: 0.3s linear;
}
.message button:hover::before {
  transform: translateX(100%);
}
.details {
  width: 45%;
}
.details div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.details i {
  font-size: 1.1rem;
  color: white;
  margin-right: 1.2rem;
}
.details p {
  margin: 0;
  text-align: left;
  line-height: 25px;
  font-weight: 600;
}
.foot {
  z-index: 9996;
}

@media (max-width: 900px) {
  .portfolio h1 {
    display: none;
  }
  .card {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 800px) {
  .details {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .port-card {
    grid-template-columns: 1fr;
  }
  .card {
    width: 68%;
    height: 270px;
  }
  .card h2 {
    font-size: 1.1rem;
  }
  .container-flex {
    padding-top: 4.5rem;
    padding-bottom: 4rem;
  }
  .container-flex h2 {
    font-size: 32px;
  }
  .portfolio {
    top: 215px;
  }
  .portfolio::after {
    height: 30px;
    top: -30px;
  }
}
@media (max-width: 530px) {
  .card {
    width: 80%;
    height: 260px;
  }
}
@media (max-width: 430px) {
  .card {
    width: 100%;
    height: 220px;
  }
  .img-webpage {
    height: 90% !important;
  }
}